.box {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;
 gap: 0.5em;
}

.items {
    width: fit-content;
    background-color: var(--background);
    padding: 1em;
    color: black;
    text-align: center;
    border: 8px solid black;
    border-radius: 10px;
}
