

:root {
  --primary: #118c4f;
  --background: #bebebed0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
}

.btn-primary{
  background-color: map-get($map: $colors, $key: accent);
  border-color: map-get($map: $colors, $key: accent);
  &:hover {
    background-color: #118c4f;
    border-color: black;
  }
  &:not(:disabled):not(:disabled):active{
    background-color: #118c4f !important;
    border-color: black !important;
  }
}
  
.url-form {
  width: 60vw;
  margin-bottom: 1rem;
}


.primary {
  color: var(--primary);
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: black; 
}

.container {
  max-width: 1000px;
  margin: auto;
}


h1 {
  font-size: 2rem;
  line-height: 2;
}

h2 {
  font-size: 2rem;
  line-height: 2;
}

h5 {
  font-size: 1rem;
  line-height: 1;
}

ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  margin-bottom: 1.5rem;
  border-radius: 10px;
  height: 450px;
  width: 450px;
  display: flex;
  border-style: solid;
  box-shadow: 6.5px 8px lightslategrey;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 2.1rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  h5 {
    font-size: 2.1rem;
    line-height: 1.2;
  }

  p {
    font-size: 1rem;
  }

  .col-mobile {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .logo {
    display: flex;
  }
}
